@page
@model Spa_System.Pages.PackageTreatments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PackageTreatment</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PackageTreatment.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
